APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8000

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=db_presensi_smkalfarizi
DB_USERNAME=root
DB_PASSWORD=

# Security
# Rahasiakan APP_KEY jika ada fitur enkripsi tambahan di masa depan
APP_KEY=SomeRandomSecretString123!
